body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #011F3F;
  width: 100%;
  align-items: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
}

.btn {
  margin: 25px;
  display: inline-block;
  min-width: 180px;
  min-height: 180px;
  width: 180px;
  height: 180px;
  border: 10px solid black;
  border-radius: 50%;
}

.row {
  display: flex;
}

.game-over {
  background-color: rgb(169, 22, 22);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
